# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/
env/
.ruff_cache/
.pytest_cache/

# Project Specific
*.wav
*.txt
*.bat
!Launch_MCP_TTS.bat
!Launch_MCP_TTS_CUDA.bat
!Start_MCP_Server.bat
uv.lock

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
